@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950;
}

html,
body,
#root {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
}

/* ===================== */
/* CUSTOM SCROLLBAR */
/* ===================== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #2563eb;
}

.todo-scroll::-webkit-scrollbar {
  width: 6px;
}

.todo-scroll::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 999px;
}

.todo-scroll {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}
